# Ignorowanie folderu Visual Studio
.vs/

# Ignorowanie plików bin i obj
bin/
obj/

# Ignorowanie plików tymczasowych systemu Windows
*.log
*.tmp

# Ignorowanie arkuszy kalkulacyjnych
*.xls
*.xlsx
*.ods

# Ignorowanie plików o zapisie obiektów na planszy
boardObjects.json